API_PORT=5000
DATABASE_URL=postgresql://postgres:postgres@db:5432/mydb
JWT_PRIVATE_KEY_PATH=./keys/private.pem
JWT_PUBLIC_KEY_PATH=./keys/public.pem

DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=mydb